@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);

.green-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 90vh;
  background: linear-gradient(170deg, #5EDA98 50%, #fff 20%);
}

.success {
  height: 60vh;
  width: 20vw;
  background-color: salmon;
  border-radius: 10px;
  margin-right: 10vw;
  -webkit-box-shadow: -10px 10px 90px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: -10px 10px 90px -10px rgba(0,0,0,0.75);
  box-shadow: -10px 10px 90px -10px rgba(0,0,0,0.75);

}

.green-img-container {
  background-color: #5EDA98;
  height: 25vh;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.green-txt-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
  height: 35vh;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.green-txt-container h1 {
  margin-top: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #5EDA98;
}

.green-txt-container p {
  margin-bottom: 10px;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  text-align: center;
  color: #666;
}

.green-txt-container button {
  width: 8vw;
  height: 5vh;
  margin: 0 auto;
  background-color: #5EDA98;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 2px 4px 13px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 4px 13px -2px rgba(0,0,0,0.75);
  box-shadow: 2px 4px 13px -2px rgba(0,0,0,0.75);
}

.green-txt-container button:focus {
  outline: 0;
}

.social-media-links {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.social-media-links img {
  height: 3vh;
  margin-right: 10px;
  margin-left: 10px;
}


/*//////////////////

UNSUCCESS

//////////////////*/

.unsuccess {
  height: 60vh;
  width: 20vw;
  background-color: #f25f5c;
  border-radius: 10px;
  -webkit-box-shadow: -10px 10px 90px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: -10px 10px 90px -10px rgba(0,0,0,0.75);
  box-shadow: -10px 10px 90px -10px rgba(0,0,0,0.75);
}

.red-img-container {
  background-color: #f25f5c;
  height: 25vh;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.red-txt-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
  height: 35vh;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.red-txt-container h1 {
  margin-top: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #f25f5c;
}

.red-txt-container button {
  width: 8vw;
  height: 5vh;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #f25f5c;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 2px 4px 13px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 4px 13px -2px rgba(0,0,0,0.75);
  box-shadow: 2px 4px 13px -2px rgba(0,0,0,0.75);
}

.red-txt-container button:focus {
  outline: 0;
}

.red-txt-container p {
  margin-bottom: 10px;
  margin-top: 55px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #666;
}
